header {
    grid-area: header;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 88px;

    align-self: center;

    margin-inline: 10%;
}

img {
    width: 199px;
    height: 54px;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: auto
}